/* ------GLOBAL-------*/

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff9e6;
    font-family: 'Calibri', sans-serif;
}

/* --------HEADER -------*/
header {}

header h1 {}

header p {
    color: rgb(0, 0, 0);
}

header a {
    color: 00adb5
}

header a:hover {
    text-decoration: none;
}

header a:visited {
    color: rgba(255, 144, 246, 0.842);
}

/* --------MAIN-------*/

main {}

div {
    border: double #00adb5;
    padding-right: 10px;
    padding-left: 10px;
}

h1, h2 {
    font-family: 'Lucida Calligraphy', sans-serif;
    color: #7cb6b6;
    padding-top: 10px;
    margin: 0 auto;
}

h3 {
    font-size: xx-large;
    font-family: 'Calibri', sans-serif;
    color: #7cb6b6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

p, ul, li, ol {
	color: #7cb6b6;
	text-align: left;
    padding-top: 10px;
    margin: 0 auto;
}

ul, li, ol {
    line-height: 50%;
}

figure {
	text-align: left;
    margin: 0 auto;
}

img {
    border: 2px solid #00adb5;
    width: 250px;
}

a {
    color: #7cb6b6;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

.rate {
	color: #7cb6b6;
	text-align: left;
    padding-bottom: 10px;
}

fieldset {
	color: #7cb6b6;
   	font-size: small;
}

.wrapper {
  display: flex;
}

.wrapper div {
  flex: 1;
}

* {
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/* ---------FOOTER--------*/

footer {}

footer a {}

footer a:hover {
    text-decoration: none;
}

footer a:visited {
    color: rgba(255, 144, 246, 0.842);
}
