html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 249, 242);
}

.color-grid {
    margin: -2rem 0 0 0;
    /* background-color: rgb(200, 200, 200, 10); */
    width: 100%;
    height: 1240px;
    /* border: 4px solid black; */
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto;
    position: absolute;
    z-index: 0;
}

.grid-color-1 {
    background-color: rgb(184, 218, 235);
    /* border: 3px solid red; */
    z-index: 0;
}

.grid-color-2 {
    background-color: rgb(184, 218, 235);
    /* border: 3px solid red; */
    z-index: 0;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 0%;
}

.header {
    font-family: 'Limelight';
    background-image: url('../images/retro-bg-colin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.sticky-header button {
    background-color: #fff;
    color: #333;
    border: 0;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.group-title {
    font-size: 0.9em;
    font-style: italic;
}

cite {
    font-style: italic;
    font-weight: 100;
}

.recipe-title-box {
    background-color: rgb(199, 156, 77);
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 1rem 1rem 1rem 0;
    position: relative;
    z-index: 1;
}

.recipe-title-1 {
    flex: 1 1 auto;
    margin-bottom: 0;
    margin-top: 0;
}

.recipe-title-2 {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.733);
    font-family: 'Limelight';
    flex: 2 1 auto;

}

.image-grid {
    width: 100%;
    height: 1300px;
    /* border: 4px solid black; */
    display: grid;
    grid-template-columns: 5% 30% 65%;
    /* grid-template-rows: 400px 150px 400px 250px 100px; */
    grid-template-rows: auto;
    position: relative;
    /* z-index: 1; */
}

.image-box {
    max-width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -4rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 0;
}

figure {
    margin: 0 0 0 0;

}

.photo {
    border: 3px solid rgb(255, 242, 182);
    /* margin-left: 2rem; */
}


figcaption {
    font-family: 'Roboto';
    color: rgb(0, 0, 0);
    font-style: oblique;
}


h1 {
    font-size: 7rem;
    color: rgb(255, 255, 255);
    font-family: 'Limelight';
    padding: 0rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    font-family: 'Limelight';
    font-variant: small-caps;
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Limelight';
    font-size: 2rem;
    background-color: #acd4cf;
    border-radius: 5%;
    padding: 0.5rem 0 0.5rem 1rem;
}

p {

    line-height: 0.5em;
}

ul {
    padding: 1rem;
}

ol {
    padding: 1rem;
}

li {
    color: rgb(0, 0, 0);
    line-height: 2em;
}

a {
    color: rgb(33, 36, 78);
}

a:hover {
    color: rgb(210, 128, 221);
    text-decoration: none;
    font-size: 1.05em;
}

a:visited {
    color: rgba(177, 49, 49, 0.76);
}

.ingredients>h3 {
    background-color: rgb(184, 229, 235);
}

.conversion>h3 {

    background-color: rgb(223, 214, 174);
}


.directions>h3 {
    background-color: rgb(193, 188, 231);
}

.rate {
    font-size: 1.5rem;
    font-weight: 100;
}

fieldset {
    color: rgb(0, 0, 0);
    font-style: oblique;

}

fieldset legend {
    font-weight: 600;
    font-style: normal;
}

hr {
    box-shadow: 0 0 2px;
}

.disclaimer {
    padding: 1rem;
    font-family: 'Garamond';
    font-weight: 500;
    font-variant: small-caps;
}