
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #C4F0FF;
    color: #00595e;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.group-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-style: bold;
    padding: 10px 15px;
    color: #00595e;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Calibri', sans-serif;
    color: #fff;
    margin: 0;
}

h1,
h2 {
    font-family: 'relation', sans-serif;
    color: goldenrod;
    padding-top: 20px;
    margin: 0 auto;
}

p,
h3,
ul,
li,
ol {
    color: #fff;
    text-align: left;
    padding-top: 10px;
    margin: 0 auto;
}

ul,
li,
ol {
    font-size: small;
}

figure {
    font-size: xx-small;
    color: #fff;
    text-align: center;
}

img {
    border: 2px solid #00777e;
    position: relative;
}

a {
    color: #00777e;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

.rate {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

fieldset {
    font-size: small;
    color: #fff;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.wrapper div {
    flex: 1;
}

div {
    /*border: double cornflowerblue;*/
    padding-right: 30px;
    padding-left: 30px;
}

/* ---------FOOTER--------*/
footer {
    color: #00595e;
}

hr {
    height: 1px;
    background-color: #00595e;
    border: none;
}

#footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

footer a {
    font-weight: 700;
    text-decoration: underline;
}

footer a:hover {
    color: goldenrod;
}

footer a:visited {
    color: #00595e;
}
