/* ------GLOBAL-------*/
body {
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Calibri', sans-serif;
}

/* --------HEADER -------*/
header p {
    color: rgb(0, 0, 0);
}

header a {
    color: #00595e
}

header a:hover {
    color: goldenrod;
}

header a:visited {
    color: #00595e;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #C4F0FF;
    color: #00595e;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.group-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-style: bold;
    padding: 10px 15px;
    color: #00595e;
}

/* --------MAIN-------*/
div {
    /*border: double #00595e;*/
    padding: 10px 10px;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    color: #00595e;
    padding-top: 10px;
    margin: 0 auto;
}

h3 {
    font-size: xx-large;
    font-family: 'Calibri', sans-serif;
    color: #00595e;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

p,
ul,
li,
ol {
    color: #00595e;
    text-align: left;
    padding-top: 10px;
    margin: 0 auto;
}

ul,
li,
ol {
    line-height: 50%;
}

figure {
    text-align: left;
    margin: 0 auto;
}

img {
    border: 2px solid #00595e;
    width: 250px;
}

a {
    color: #00595e;
    text-decoration: none;
}

.rate {
    color: #00595e;
    text-align: left;
    padding-bottom: 10px;
}

fieldset {
    color: #00595e;
    font-size: small;
}

.wrapper {
    display: flex;
}

.wrapper div {
    flex: 1;
}

* {
    box-sizing: border-box;
}

.row {
    /* padding: 1rem 0 1rem 0; */
}

#first-2-recipes {
    padding-bottom: 6rem;
}

#second-2-recipes {
    padding-bottom: 6rem;
}

[class*="col"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/* ---------FOOTER--------*/
footer {
    color: #00595e;
}

hr {
    height: 1px;
    background-color: #00595e;
    border: none;
}

#footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

footer a {
    font-weight: 700;
    text-decoration: underline;
}

footer a:hover {
    color: goldenrod;
}

footer a:visited {
    color: #00595e;
}
