.sticky-header {
    position: sticky;
    top: 0;
    background-color: #C4F0FF;
    color: #00595e;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.group-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-style: bold;
    padding: 10px 15px;
    color: #00595e;
}

body {
    background-color: #ffca88;
    color: #41331f;
    margin-left: 20px
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

div {
    border: double rgba(100, 148, 237, 0);
    font-family: Georgia, serif;
}

h1,
h2,
h3 {
    color: #352c1f;
    font-family: 'Lobster', cursive;
    font-style: oblique;
    text-shadow: 3px 3px 3px #daab6a96;
    text-decoration-line: underline;
}

a {
    color: #3e4c8b;
}

ul {
    list-style-type: disc
}

li {
    line-height: 1.3;
    margin-bottom: 5px;
}

figure {
    margin-bottom: 30px;
}

img {
    box-shadow: 3px 3px 5px #9c7241;
}

figcaption {
    font-size: 0.5em;
    color: #000000;
}

.credit {
    font-size: 0.8em;
    color: #0e0d0d;
    text-align: left;
}

fieldset {
    border: 2px solid #e2b77c;
    border-radius: 8px;
    padding: 12px 12px;
    box-shadow: 2px 2px 8px #ffffff55;
}

legend {
    font-weight: bold;
}

input {
    padding: 6px 10px;
    border: 1px solid #2b2317;
    border-radius: 5px;
    background-color: #fff8e7;
    box-shadow: 1px 1px 4px #e2b77c33;
}

ol {
    margin-left: 30px;
    padding: 5px;
}

p {
    font-size: 0.8em;
    color: #444039;
    text-align: right;
}

.rate {
    color: #43883a;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #a36c1e55;
    margin-top: 30px;
}

/* ---------FOOTER--------*/
footer {
    color: #00595e;
}

hr {
    height: 1px;
    background-color: #00595e;
    border: none;
}

#footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

footer a {
    font-weight: 700;
    text-decoration: underline;
}

footer a:hover {
    color: goldenrod;
}

footer a:visited {
    color: #00595e;
}